---
import MallaCurricular from '../components/MallaCurricular.astro'
import ImagenesFlotantes from '../components/ImagenesFlotantes.astro'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malla Curricular Derecho UTAL</title>
  </head>
  <body class="bg-gray-100">
    <div class="relative min-h-screen">
      <ImagenesFlotantes />
      <div class="relative z-10">
        <MallaCurricular />
      </div>
    </div>
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
